<div class="cta-backimg" style="flex-flow: row wrap; {% if left != true %}flex-flow: row-reverse wrap;{% endif%} justify-content: space-around; text-align: left; --padtop: 15em; --padbot: 10em; background-image: url({{ image }}); {% if full != true %}
  .cta-backimg {
    max-width: 1060px;
    margin: 0 auto;
    margin-top: 1em;
  }
  {% endif %}">

<div class="cta-backText" style="width: 320px;">
<img width="64px" height="auto" src="{{ icon }}" style="margin: 1em;">
<div style="text-shadow: 0 0 0.2em rgba(0,0,0,0.5), 0 0.1em 3em rgba(109, 101, 95, 1);
    {% if color != null %}  
    color: {{ color }};
    text-shadow: none;
    {% endif %}">{{ title }}</div>
  
<div style="font-size: 1.2em; font-weight: normal;
    text-shadow: 0 0 0.2em rgba(0,0,0,0.5), 0 0.1em 3em rgba(109, 101, 95, 1);
    {% if color != null %}  
    color: {{ color }};
    text-shadow: none;
    {% endif %}">{{ text }}</div>
  
{% if block.settings.backLink != null %}
  <a class="btn" href="{{ block.settings.backLink }}">{{ block.settings.backButtonLabel }}</a>
{% endif %}
</div>

<div class="cta-backText" style="width: 320px;">
  <img width="100%" height="auto" src="{{ sideImage }}" style="margin: 1em;">
</div>

</div>
