<ul class="mobile-nav" id="MobileNav">
  {% unless linklists[section.settings.menu].links.first.url == '/' %}
<!--   <li class="large--hide">
    <a href="/">{{ 'general.breadcrumbs.home' | t }}</a>
  </li> -->
  <li class="large--hide" style="background-image: url({{ 'lavender-spring.png' | asset_url }});
    background-position: center;
    background-size: cover;
    height: 8em;
    display: flex;
    align-content: flex-end;
	border: none;">
    <a class="for-free" href="/cart" style="color: #333; font-weight: bold; background-color: #ffffff75; padding: 6px 12px;">Free shipping on orders over $50. Tax Included</a>
  </li>
  <div class="for-free-bar-bg" style="background-color:white; border: 3px solid #333;">
  	<div class="for-free-bar" style="display:none; height: 4px;">
      <div style="width: 5%; height: 100%; background-color: white; margin-left: auto;"></div>
    </div>
  </div>
  {% endunless %}
  {% for link in linklists[section.settings.menu].links %}
    {% if link.links != blank %}
      {% assign parent_index = forloop.index %}
      <li
        class="mobile-nav--has-dropdown {% if link.active %}mobile-nav--active{% endif %}"
        aria-haspopup="true">
        <button class="icon icon-arrow-down mobile-nav--button"
          aria-expanded="false"
          aria-label="{{link.title | escape }} {{ 'layout.navigation.mobile_menu' | t }}">
        </button>
        <a
          href="{{ link.url }}"
          class="mobile-nav--link"
          data-meganav-type="parent"
          {% unless template.name == 'index' %}{% if link.active %}aria-current="page"{% endif %}{% endunless%}>
            {{ link.title | escape }}
        </a>
        
        <ul
          id="MenuParent-{{ parent_index }}"
          class="mobile-nav--dropdown {% if link.levels == 2 %}mobile-nav--has-grandchildren{% endif %}"
          data-meganav-dropdown>
          {% for childlink in link.links %}
            {% if childlink.links != blank %}
            {% assign child_index = forloop.index %}
              <li
                class="mobile-nav--has-dropdown mobile-nav--has-dropdown-grandchild {% if childlink.active %}mobile-nav--active{% endif %}"
                aria-haspopup="true">
                <button class="icon icon-arrow-down mobile-nav--button"
                  aria-expanded="false"
                  aria-label="{{ childlink.title | escape }} {{ 'layout.navigation.mobile_menu' | t }}">
                </button>
                <a
                  href="{{ childlink.url }}"
                  class="mobile-nav--link"
                  data-meganav-type="parent"
                  {% unless template.name == 'index' %}{% if childlink.active %}aria-current="page"{% endif %}{% endunless%}>
                    {{ childlink.title | escape }}
                </a>

                <ul
                  id="MenuChildren-{{ parent_index }}-{{ child_index }}"
                  class="mobile-nav--dropdown-grandchild"
                  data-meganav-dropdown>
                  {% for grandchildlink in childlink.links %}
                    <li{% if grandchildlink.active %} class="mobile-nav--active"{% endif %}>
                      <a
                        href="{{ grandchildlink.url }}"
                        class="mobile-nav--link"
                        data-meganav-type="child"
                        {% unless template.name == 'index' %}{% if grandchildlink.active %}aria-current="page"{% endif %}{% endunless %}>
                          {{ grandchildlink.title | escape }}
                        </a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              <li{% if childlink.active %} class="mobile-nav--active"{% endif %}>
                <a
                  href="{{ childlink.url }}"
                  class="mobile-nav--link"
                  data-meganav-type="child"
                  {% if childlink.active %}aria-current="page"{% endif %}>
                    {{ childlink.title | escape }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
    {% else %}
      <li{% if link.active %} class="mobile-nav--active"{% endif %}>
        <a
          href="{{ link.url }}"
          class="mobile-nav--link"
          data-meganav-type="child"
          {% unless template.name == 'index' %}{% if link.active %}aria-current="page"{% endif %}{% endunless%}>
            {{ link.title | escape }}
        </a>
      </li>
    {% endif %}
  {% endfor %}

  {% if shop.customer_accounts_enabled %}
    {% if customer %}
      <li class="customer-navlink large--hide"><a href="/account">{{ 'layout.customer.view_account' | t }}</a></li>
      <li class="customer-navlink large--hide">{{ 'layout.customer.log_out' | t | customer_logout_link }}</li>
    {% else %}
      <li class="customer-navlink large--hide">{{ 'layout.customer.sign_in' | t | customer_login_link }}</li>
      <li class="customer-navlink large--hide">{{ 'layout.customer.create_account' | t | customer_register_link }}</li>
    {% endif %}
  {% endif %}
</ul>


