<br />
<div class="Quad">

  <a href="{{ section.settings.link3 }}">
  <div class="quad-img" style="height: 15em; background-size: cover; background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url({{ section.settings.image3 | img_url: 'large' }});">
  <div>
  <h1>{{ section.settings.title3 }}
  {% if section.settings.icon3 != blank %}
  <img width="24px" src="{{ section.settings.icon3 }}" alt="">
  {% endif %}
  </h1>
  </div>
  </div>
  </a>

  <a href="{{ section.settings.link4 }}">
  <div class="quad-img" style="height: 15em; background-size: cover; background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url({{ section.settings.image4 | img_url: 'large' }});">
  <div>
  <h1>{{ section.settings.title4 }}
  {% if section.settings.icon4 != blank %}
  <img width="24px" src="{{ section.settings.icon4 }}" alt="">
  {% endif %}
  </h1>
  </div>
  </div>
  </a>

</div>

<div class="Quad">

  <a href="{{ section.settings.link1 }}">
  <div class="quad-img" style="height: 15em; background-size: cover; background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url({{ section.settings.image1 | img_url: 'large' }});">
  <div>
  <h1>{{ section.settings.title1 }}
  {% if section.settings.icon1 != blank %}
  <img width="24px" src="{{ section.settings.icon1 }}" alt="">
  {% endif %}
  </h1>
  </div>
  </div>
  </a>

  <a href="{{ section.settings.link2 }}">
  <div class="quad-img" style="height: 15em; background-size: cover; background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url({{ section.settings.image2 | img_url: 'large' }});">
  <div>
  <h1>{{ section.settings.title2 }}
  {% if section.settings.icon2 != blank %}
  <img width="24px" src="{{ section.settings.icon2 }}" alt="">
  {% endif %}
  </h1>
  </div>
  </div>
  </a>

</div>
<br />

{% schema %}
{
  "name": "Quad",
  "settings": [
	{
	  "type": "image_picker",
      "id": "image1",
      "label": "Image 1"
    },
	{
	  "type": "text",
      "id": "icon1",
      "label": "Icon"
    },
    {
      "type": "text",
      "id": "title1",
      "label": "Title",
      "default": "Image 1"
    },
	{
      "type": "url",
      "id": "link1",
      "label": "Link URL"
    },
	{
	  "type": "image_picker",
      "id": "image2",
      "label": "Image 2"
    },
	{
	  "type": "text",
      "id": "icon2",
      "label": "Icon"
    },
    {
      "type": "text",
      "id": "title2",
      "label": "Title",
      "default": "Image 2"
    },
	{
      "type": "url",
      "id": "link2",
      "label": "Link URL"
    },
	{
	  "type": "image_picker",
      "id": "image3",
      "label": "Image 3"
    },
	{
	  "type": "text",
      "id": "icon3",
      "label": "Icon"
    },
    {
      "type": "text",
      "id": "title3",
      "label": "Title",
      "default": "Image 3"
    },
	{
      "type": "url",
      "id": "link3",
      "label": "Link URL"
    },
	{
	  "type": "image_picker",
      "id": "image4",
      "label": "Image 4"
    },
	{
	  "type": "text",
      "id": "icon4",
      "label": "Icon"
    },
    {
      "type": "text",
      "id": "title4",
      "label": "Title",
      "default": "Image 4"
    },
	{
      "type": "url",
      "id": "link4",
      "label": "Link URL"
    }
  ],
  "presets": [
    {
      "name": "Quad",
      "category": "Image"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}