{% include 'breadcrumb' %}

<div class="grid">

  <div class="grid-item large--two-thirds push--large--one-sixth">

<!--     <h2>{{ page.title }}</h2> -->

    <div class="rte">
      {{ page.content }}
    </div>

    <div>
      {% form 'contact' %}

        {% if form.posted_successfully? %}
          <p class="note form-success">
            Thank you! Your request has been received. A doTERRA representative will contact you within 24 hours.
          </p>
        {% endif %}

        {% include 'form-errors-custom' %}

        <div id="contactFormWrapper">
          <label for="contactFormName" class="hidden-label">{{ 'contact.form.name' | t }}</label>
          <input type="text" id="contactFormName" name="contact[name]" placeholder="{{ 'contact.form.name' | t }}" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}">

          <label for="contactFormEmail" class="hidden-label">{{ 'contact.form.email' | t }}</label>
          <input type="email" id="contactFormEmail" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">

          <label for="contactFormPhone" class="hidden-label">{{ 'contact.form.phone' | t }}</label>
          <input type="tel" id="contactFormPhone" name="contact[phone]" placeholder="{{ 'contact.form.phone' | t }}" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}">
    
          <label for="contactFormCity" class="hidden-label">City</label>
          <input type="text" id="contactFormCity" name="contact[city]" placeholder="City" value="">
          
          <label for="contactFormState" class="hidden-label">State</label>
          <input type="text" id="contactFormState" name="contact[state]" placeholder="State" value="">
                    
          <label for="contactFormQuestion" class="hidden-label">How can we help you?</label>
          <textarea id="contactFormQuestion" name="contact[question]" placeholder="How can we help you?"></textarea>
          
          <input type="submit" class="btn right" value="{{ 'contact.form.send' | t }}">
        </div>

      {% endform %}
    </div>

  </div>

</div>
