{% include 'breadcrumb' %}

<div class="grid">

  <div class="grid-item large--two-thirds push--large--one-sixth">

<!--     <h2>{{ page.title }}</h2> -->

    <div class="rte">
      {{ page.content }}
    </div>

    <div>
      {% form 'contact' %}

        {% if form.posted_successfully? %}
          <p class="note form-success">
            Thank you! Your request to participate in an Essential Oil Study has been received. A coordinator will contact you within 24 hours.
          </p>
        {% endif %}

        {% include 'form-errors-custom' %}

        <div id="contactFormWrapper">
          <label for="contactFormName" class="hidden-label">{{ 'contact.form.name' | t }}</label>
          <input type="text" id="contactFormName" name="contact[name]" placeholder="{{ 'contact.form.name' | t }}" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}">

          <label for="contactFormEmail" class="hidden-label">{{ 'contact.form.email' | t }}</label>
          <input type="email" id="contactFormEmail" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">

          <label for="contactFormPhone" class="hidden-label">{{ 'contact.form.phone' | t }}</label>
          <input type="tel" id="contactFormPhone" name="contact[phone]" placeholder="{{ 'contact.form.phone' | t }}" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}">
    
          <label for="contactFormCity" class="hidden-label">City</label>
          <input type="text" id="contactFormCity" name="contact[city]" placeholder="City" value="">
          
          <label for="contactFormState" class="hidden-label">State</label>
          <input type="text" id="contactFormState" name="contact[state]" placeholder="State" value="">
                             
          <label>Which essential oil study would you like to participate in?</label>
          <input type="radio" name="contact[study]" id="sleep" value="Sleep Study"><label for="sleep">Sleep Study</label><br/>
          <input type="radio" name="contact[study]" id="digest" value="Digestive Study"><label for="digest">Digestion Study</label><br/>
          <input type="radio" name="contact[study]" id="stress" value="Stress Study"><label for="stress">Stress and Anxiety Study</label><br/>
          <input type="radio" name="contact[study]" id="pain" value="Pain Study"><label for="pain">Pain and Tension Study</label><br/>
          <input type="radio" name="contact[study]" id="breathe" value="Respiratory Study"><label for="breathe">Respiratory Study</label><br/><br/>
          
          <label for="contactFormQuestion" class="hidden-label">Tell us a little more about why you selected this study</label>
          <textarea id="contactFormQuestion" name="contact[question]" placeholder="Tell us a little more about why you selected this study"></textarea>
          
          <label>How did you hear about our study?</label>
          <input type="radio" name="contact[refer]" id="fb" value="Facebook"><label for="fb">Facebook</label><br/>
          <input type="radio" name="contact[refer]" id="ig" value="Instagram"><label for="ig">Instagram</label><br/>
          <input type="radio" name="contact[refer]" id="goo" value="Google"><label for="goo">Google</label><br/>
          <input type="radio" name="contact[refer]" id="pin" value="Pinterest"><label for="pin">Pinterest</label><br/>
          <input type="radio" name="contact[refer]" id="home" value="HomeEssentialOils"><label for="home">Browsing this website</label><br/>
          <input type="radio" name="contact[refer]" id="other" value="Other"><label for="other">Other</label><br/><br/>

          
          
          
          
          <strong>Terms of the Study</strong><br/><br/>
          
          
          <input type="checkbox" name="contact[agree1]" id="agree1" value"" required/><label for="agree1">I'm at least 18 years old and not a current member of doTERRA.</label><br/>
          
          <input type="checkbox" name="contact[agree3]" id="agree3" value"" required/><label for="agree3">I'll particpate fully in the study and be in communication with my Study Coordinator.</label><br/>
          
          <input type="checkbox" name="contact[agree4]" id="agree4" value"" required/><label for="agree4">I've watched the 15 minute intro class video on this page.</label><br/>
          
          <input type="checkbox" name="contact[agree5]" id="agree5" value"" required/><label for="agree5">I understand this is not a sponsored medical study.</label><br/>
  		  <br/>
          
          <input type="submit" class="btn left" value="{{ 'contact.form.send' | t }}">
        </div>

      {% endform %}
    </div>

  </div>

</div>
